USE [master]
GO
/****** Object:  Database [GestionRT]    Script Date: 12/6/2022 14:34:01 ******/
CREATE DATABASE [GestionRT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GestionRT', FILENAME = N'D:\Apps\Sql\MSSQL15.MSSQLSERVER\MSSQL\DATA\GestionRT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GestionRT_log', FILENAME = N'D:\Apps\Sql\MSSQL15.MSSQLSERVER\MSSQL\DATA\GestionRT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GestionRT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GestionRT]
GO
/****** Object:  Table [dbo].[ASIGNACION_CIENTIFICO_CI]    Script Date: 12/6/2022 14:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASIGNACION_CIENTIFICO_CI](
	[id] [int] NOT NULL,
	[fechaDesde] [datetime] NULL,
	[fechaHasta] [datetime] NULL,
	[idCientifico] [int] NULL,
 CONSTRAINT [PK_ASIGNACION_CI] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ASIGNACIONES_X_CI]    Script Date: 12/6/2022 14:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASIGNACIONES_X_CI](
	[idCI] [int] NOT NULL,
	[idAsignacion] [int] NOT NULL,
 CONSTRAINT [PK_ASIGNACIONES_X_CI] PRIMARY KEY CLUSTERED 
(
	[idCI] ASC,
	[idAsignacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CAMBIO_ESTADO_RT]    Script Date: 12/6/2022 14:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAMBIO_ESTADO_RT](
	[id] [int] NOT NULL,
	[fechaHoraDesde] [datetime] NULL,
	[fechaHoraHasta] [datetime] NULL,
	[idEstado] [int] NULL,
 CONSTRAINT [PK_CAMBIO_ESTADO_RT] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CAMBIO_ESTADO_TURNO]    Script Date: 12/6/2022 14:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAMBIO_ESTADO_TURNO](
	[id] [int] NOT NULL,
	[fechaHoraDesde] [datetime] NULL,
	[fechaHoraHasta] [datetime] NULL,
	[idEstado] [int] NULL,
 CONSTRAINT [PK_CAMBIO_ESTADO_TURNO] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CAMBIO_ESTADOS_X_RT]    Script Date: 12/6/2022 14:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAMBIO_ESTADOS_X_RT](
	[idRT] [int] NOT NULL,
	[idCambioEstadoRT] [int] NOT NULL,
 CONSTRAINT [PK_CAMBIO_ESTADOS_X_RT] PRIMARY KEY CLUSTERED 
(
	[idRT] ASC,
	[idCambioEstadoRT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CAMBIO_ESTADOS_X_TURNO]    Script Date: 12/6/2022 14:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAMBIO_ESTADOS_X_TURNO](
	[idTurno] [int] NOT NULL,
	[idCambioEstadoT] [int] NOT NULL,
 CONSTRAINT [PK_CAMBIO_ESTADOS_X_TURNO] PRIMARY KEY CLUSTERED 
(
	[idTurno] ASC,
	[idCambioEstadoT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CENTRO_INVESTIGACION]    Script Date: 12/6/2022 14:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CENTRO_INVESTIGACION](
	[id] [int] NOT NULL,
	[nombreCentro] [varchar](50) NULL,
	[sigla] [varchar](50) NULL,
	[direccion] [varchar](50) NULL,
	[edificio] [varchar](50) NULL,
	[piso] [varchar](50) NULL,
	[coordenadas] [varchar](50) NULL,
	[telefonoContacto] [varchar](50) NULL,
	[correoElectronico] [varchar](50) NULL,
	[numeroResolucionCreacion] [int] NULL,
	[reglamento] [varchar](50) NULL,
	[caracteristicasGenerales] [varchar](100) NULL,
	[fechaAlta] [datetime] NULL,
	[tiempoAntelacionReserva] [varchar](50) NULL,
	[fechaBaja] [datetime] NULL,
	[motivoBaja] [varchar](50) NULL,
 CONSTRAINT [PK_CENTRO_INVESTIGACION] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTADO]    Script Date: 12/6/2022 14:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADO](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[descripcion] [varchar](50) NULL,
	[ambito] [varchar](50) NULL,
 CONSTRAINT [PK_ESTADO] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MARCA]    Script Date: 12/6/2022 14:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MARCA](
	[id] [int] NOT NULL,
	[nombreMarca] [varchar](50) NULL,
 CONSTRAINT [PK_MARCA] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MODELO]    Script Date: 12/6/2022 14:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MODELO](
	[id] [int] NOT NULL,
	[nombreModelo] [varchar](50) NULL,
 CONSTRAINT [PK_MODELO] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MODELOS_X_MARCA]    Script Date: 12/6/2022 14:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MODELOS_X_MARCA](
	[idMarca] [int] NOT NULL,
	[idModelo] [int] NOT NULL,
 CONSTRAINT [PK_MODELOS_X_MARCA] PRIMARY KEY CLUSTERED 
(
	[idMarca] ASC,
	[idModelo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERSONAL_CIENTIFICO]    Script Date: 12/6/2022 14:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSONAL_CIENTIFICO](
	[legajo] [int] NOT NULL,
	[nombre] [varchar](50) NULL,
	[apellido] [varchar](50) NULL,
	[dni] [int] NULL,
	[correoInstitucional] [varchar](50) NULL,
	[correoPersonal] [varchar](50) NULL,
	[telefonoCelular] [varchar](50) NULL,
 CONSTRAINT [PK_PERSONAL_CIENTIFICO] PRIMARY KEY CLUSTERED 
(
	[legajo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RECURSO_TECNOLOGICO]    Script Date: 12/6/2022 14:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECURSO_TECNOLOGICO](
	[numeroRT] [int] NOT NULL,
	[fechaAlta] [datetime] NULL,
	[imagenes] [varchar](50) NULL,
	[periodicidadMantenimientoPreventivo] [int] NULL,
	[duracionMantenimientoPreventivo] [int] NULL,
	[fraccionHorarioTurnos] [int] NULL,
	[idTipoRT] [int] NOT NULL,
	[idModelo] [int] NOT NULL,
 CONSTRAINT [PK_RECURSO_TECNOLOGICO] PRIMARY KEY CLUSTERED 
(
	[numeroRT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RT_X_CI]    Script Date: 12/6/2022 14:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RT_X_CI](
	[idCI] [int] NOT NULL,
	[idRT] [int] NOT NULL,
 CONSTRAINT [PK_RT_X_CI] PRIMARY KEY CLUSTERED 
(
	[idCI] ASC,
	[idRT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SESION]    Script Date: 12/6/2022 14:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SESION](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[horaFechaInicio] [datetime2](7) NULL,
	[horaFechaFin] [datetime2](7) NULL,
	[idUsuario] [int] NOT NULL,
 CONSTRAINT [PK_SESION] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_RT]    Script Date: 12/6/2022 14:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_RT](
	[id] [int] NOT NULL,
	[nombre] [varchar](50) NULL,
	[descripcion] [varchar](50) NULL,
 CONSTRAINT [PK_TIPO_RT] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TURNO]    Script Date: 12/6/2022 14:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TURNO](
	[id] [int] NOT NULL,
	[fechaGeneracion] [datetime] NULL,
	[diaSemana] [varchar](50) NULL,
	[fechaHoraInicio] [datetime] NULL,
	[fechaHoraFin] [datetime] NULL,
 CONSTRAINT [PK_TURNO] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TURNOS_X_CIENTIFICO]    Script Date: 12/6/2022 14:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TURNOS_X_CIENTIFICO](
	[idAsignacion] [int] NOT NULL,
	[idTurno] [int] NOT NULL,
 CONSTRAINT [PK_TURNOS_X_CIENTIFICO] PRIMARY KEY CLUSTERED 
(
	[idAsignacion] ASC,
	[idTurno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TURNOS_X_RT]    Script Date: 12/6/2022 14:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TURNOS_X_RT](
	[idRT] [int] NOT NULL,
	[idTurno] [int] NOT NULL,
 CONSTRAINT [PK_TURNOS_X_RT] PRIMARY KEY CLUSTERED 
(
	[idRT] ASC,
	[idTurno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 12/6/2022 14:34:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[id] [int] NOT NULL,
	[usuario] [varchar](50) NOT NULL,
	[contraseña] [varchar](50) NULL,
	[caducidad] [varchar](50) NULL,
	[legajoPersonal] [int] NULL,
	[habilitado] [nchar](10) NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ASIGNACION_CIENTIFICO_CI]  WITH CHECK ADD  CONSTRAINT [FK_ASIGNACION_CIENTIFICO_CI_CIENTIFICO] FOREIGN KEY([idCientifico])
REFERENCES [dbo].[PERSONAL_CIENTIFICO] ([legajo])
GO
ALTER TABLE [dbo].[ASIGNACION_CIENTIFICO_CI] CHECK CONSTRAINT [FK_ASIGNACION_CIENTIFICO_CI_CIENTIFICO]
GO
ALTER TABLE [dbo].[ASIGNACIONES_X_CI]  WITH CHECK ADD  CONSTRAINT [FK_ASIGNACION_X_CI_ASIGNACION] FOREIGN KEY([idAsignacion])
REFERENCES [dbo].[ASIGNACION_CIENTIFICO_CI] ([id])
GO
ALTER TABLE [dbo].[ASIGNACIONES_X_CI] CHECK CONSTRAINT [FK_ASIGNACION_X_CI_ASIGNACION]
GO
ALTER TABLE [dbo].[ASIGNACIONES_X_CI]  WITH CHECK ADD  CONSTRAINT [FK_ASIGNACION_X_CI_CI] FOREIGN KEY([idCI])
REFERENCES [dbo].[CENTRO_INVESTIGACION] ([id])
GO
ALTER TABLE [dbo].[ASIGNACIONES_X_CI] CHECK CONSTRAINT [FK_ASIGNACION_X_CI_CI]
GO
ALTER TABLE [dbo].[CAMBIO_ESTADO_RT]  WITH CHECK ADD  CONSTRAINT [FK_CAMBIO_ESTADO_RT_ESTADO] FOREIGN KEY([idEstado])
REFERENCES [dbo].[ESTADO] ([id])
GO
ALTER TABLE [dbo].[CAMBIO_ESTADO_RT] CHECK CONSTRAINT [FK_CAMBIO_ESTADO_RT_ESTADO]
GO
ALTER TABLE [dbo].[CAMBIO_ESTADO_TURNO]  WITH CHECK ADD  CONSTRAINT [FK_CAMBIOESTADOT_ESTADO] FOREIGN KEY([idEstado])
REFERENCES [dbo].[ESTADO] ([id])
GO
ALTER TABLE [dbo].[CAMBIO_ESTADO_TURNO] CHECK CONSTRAINT [FK_CAMBIOESTADOT_ESTADO]
GO
ALTER TABLE [dbo].[CAMBIO_ESTADOS_X_RT]  WITH CHECK ADD  CONSTRAINT [FK_CAMBIO_ESTADOS_X_RT_CERT] FOREIGN KEY([idCambioEstadoRT])
REFERENCES [dbo].[CAMBIO_ESTADO_RT] ([id])
GO
ALTER TABLE [dbo].[CAMBIO_ESTADOS_X_RT] CHECK CONSTRAINT [FK_CAMBIO_ESTADOS_X_RT_CERT]
GO
ALTER TABLE [dbo].[CAMBIO_ESTADOS_X_RT]  WITH CHECK ADD  CONSTRAINT [FK_CAMBIO_ESTADOS_X_RT_RT] FOREIGN KEY([idRT])
REFERENCES [dbo].[RECURSO_TECNOLOGICO] ([numeroRT])
GO
ALTER TABLE [dbo].[CAMBIO_ESTADOS_X_RT] CHECK CONSTRAINT [FK_CAMBIO_ESTADOS_X_RT_RT]
GO
ALTER TABLE [dbo].[CAMBIO_ESTADOS_X_TURNO]  WITH CHECK ADD  CONSTRAINT [FK_CAMBIO_ESTADOS_X_TURNO_CET] FOREIGN KEY([idCambioEstadoT])
REFERENCES [dbo].[CAMBIO_ESTADO_TURNO] ([id])
GO
ALTER TABLE [dbo].[CAMBIO_ESTADOS_X_TURNO] CHECK CONSTRAINT [FK_CAMBIO_ESTADOS_X_TURNO_CET]
GO
ALTER TABLE [dbo].[CAMBIO_ESTADOS_X_TURNO]  WITH CHECK ADD  CONSTRAINT [FK_CAMBIO_ESTADOS_X_TURNO_TURNO] FOREIGN KEY([idTurno])
REFERENCES [dbo].[TURNO] ([id])
GO
ALTER TABLE [dbo].[CAMBIO_ESTADOS_X_TURNO] CHECK CONSTRAINT [FK_CAMBIO_ESTADOS_X_TURNO_TURNO]
GO
ALTER TABLE [dbo].[MODELOS_X_MARCA]  WITH CHECK ADD  CONSTRAINT [FK_MODELOS_X_MARCA_MARCA] FOREIGN KEY([idMarca])
REFERENCES [dbo].[MARCA] ([id])
GO
ALTER TABLE [dbo].[MODELOS_X_MARCA] CHECK CONSTRAINT [FK_MODELOS_X_MARCA_MARCA]
GO
ALTER TABLE [dbo].[MODELOS_X_MARCA]  WITH CHECK ADD  CONSTRAINT [FK_MODELOS_X_MARCA_MODELO] FOREIGN KEY([idModelo])
REFERENCES [dbo].[MODELO] ([id])
GO
ALTER TABLE [dbo].[MODELOS_X_MARCA] CHECK CONSTRAINT [FK_MODELOS_X_MARCA_MODELO]
GO
ALTER TABLE [dbo].[RECURSO_TECNOLOGICO]  WITH CHECK ADD  CONSTRAINT [FK_RECURSO_TECNOLOGICO_TIPO_RT] FOREIGN KEY([idTipoRT])
REFERENCES [dbo].[TIPO_RT] ([id])
GO
ALTER TABLE [dbo].[RECURSO_TECNOLOGICO] CHECK CONSTRAINT [FK_RECURSO_TECNOLOGICO_TIPO_RT]
GO
ALTER TABLE [dbo].[RT_X_CI]  WITH CHECK ADD  CONSTRAINT [FK_RT_X_CI] FOREIGN KEY([idRT])
REFERENCES [dbo].[RECURSO_TECNOLOGICO] ([numeroRT])
GO
ALTER TABLE [dbo].[RT_X_CI] CHECK CONSTRAINT [FK_RT_X_CI]
GO
ALTER TABLE [dbo].[RT_X_CI]  WITH CHECK ADD  CONSTRAINT [FK_RT_X_CI_CI] FOREIGN KEY([idCI])
REFERENCES [dbo].[CENTRO_INVESTIGACION] ([id])
GO
ALTER TABLE [dbo].[RT_X_CI] CHECK CONSTRAINT [FK_RT_X_CI_CI]
GO
ALTER TABLE [dbo].[SESION]  WITH CHECK ADD  CONSTRAINT [FK_SESION_USUARIO] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[USUARIO] ([id])
GO
ALTER TABLE [dbo].[SESION] CHECK CONSTRAINT [FK_SESION_USUARIO]
GO
ALTER TABLE [dbo].[TURNOS_X_CIENTIFICO]  WITH CHECK ADD  CONSTRAINT [FK_TURNOS_X_CIENTIFICO_ASIG_CIENTIFICO] FOREIGN KEY([idAsignacion])
REFERENCES [dbo].[ASIGNACION_CIENTIFICO_CI] ([id])
GO
ALTER TABLE [dbo].[TURNOS_X_CIENTIFICO] CHECK CONSTRAINT [FK_TURNOS_X_CIENTIFICO_ASIG_CIENTIFICO]
GO
ALTER TABLE [dbo].[TURNOS_X_CIENTIFICO]  WITH CHECK ADD  CONSTRAINT [FK_TURNOS_X_CIENTIFICO_TURNO] FOREIGN KEY([idTurno])
REFERENCES [dbo].[TURNO] ([id])
GO
ALTER TABLE [dbo].[TURNOS_X_CIENTIFICO] CHECK CONSTRAINT [FK_TURNOS_X_CIENTIFICO_TURNO]
GO
ALTER TABLE [dbo].[TURNOS_X_RT]  WITH CHECK ADD  CONSTRAINT [FK_TURNOS_X_RT_RT] FOREIGN KEY([idRT])
REFERENCES [dbo].[RECURSO_TECNOLOGICO] ([numeroRT])
GO
ALTER TABLE [dbo].[TURNOS_X_RT] CHECK CONSTRAINT [FK_TURNOS_X_RT_RT]
GO
ALTER TABLE [dbo].[TURNOS_X_RT]  WITH CHECK ADD  CONSTRAINT [FK_TURNOS_X_RT_TURNO] FOREIGN KEY([idTurno])
REFERENCES [dbo].[TURNO] ([id])
GO
ALTER TABLE [dbo].[TURNOS_X_RT] CHECK CONSTRAINT [FK_TURNOS_X_RT_TURNO]
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_PERSONAL] FOREIGN KEY([legajoPersonal])
REFERENCES [dbo].[PERSONAL_CIENTIFICO] ([legajo])
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [FK_USUARIO_PERSONAL]
GO
USE [master]
GO
